<h1>Create a new Listing</h1>
<div class="create_list">

<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %>
 <% end %>
</div>

<%= form_for @listing, :html => {:class => "form-horizontal center"} do |f| %>
  <%= f.label "Enter a description of your pet's needs" %>
  <%= f.text_area :description %>
  <br>
  <%=f.label "date"%>
  <%=f.date_field :start_date%><br>
  <%= f.label "Enter the price you are willing to pay" %>
  <%= f.number_field :price %>
  <br>

  <%= f.submit class: "btn btn-default btn-primary" %>
<% end %>

</div>
