

 
<% @listings.each do |listing| %><br>
<ul class="list-group list-inline">
  <li class="list-group-item active">

  Client: <%= link_to listing.client.name, user_path(listing.client)%><br>
  Description: <%=listing.description%><br>
  Price: $<%=listing.price%><br>
  Start Date: <%=listing.start_date%><br>
  <%= link_to "More info", listing_path(listing)%>

</li>
</ul>
<% end %>
