<h1><%=@user.name.titleize%></h1>

<div class="container-fluid">
<h3>User bio: <%=@user.bio.humanize%></h3>
<ul>

<h3><%@user.pets.each do |pet|%></h3>
    <% @pet = pet %>
    <li class="list-group-item active">
    <h4><%=pet.name%> - <%= pet.species %> </h4>
    Description: <%=pet.description.humanize%>
    <ul>
      <li>Good with kids: <%=pet.child_friendly%></li>
      <li>Good with dogs: <%=pet.dog_friendly%></li>
      <li>Good with cats: <%=pet.cat_friendly%></li>
    </ul>
    <%if session[:user_id] == @user.id %>
    <%= form_tag @pet, method: "DELETE" do %>
    <%= submit_tag "Remove Pet" %>
    <% end %>
    
    <%end%>
    </li>
  <%end%>
  </ul>
<br>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<br>
<%= link_to "Return to Homepage", listings_path %>
<br>
<%= link_to "Add a pet", new_pet_path%>
</div>
