<h1><%=@user.name.titleize%></h1>

<h3><%=@user.bio.humanize%></h3>
<ul>

<h3><%@user.pets.each do |pet|%></h3>
    <li>
    <h4><%=pet.name%> - <%= pet.species %> </h4>
    Description: <%=pet.description.humanize%>
    <ul>
      <li>Good with kids: <%=pet.child_friendly%></li>
      <li>Good with dogs: <%=pet.dog_friendly%></li>
      <li>Good with cats: <%=pet.cat_friendly%></li>
    </ul>
    </li>
  <%end%>
  </ul>
<br>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<br>
<%= link_to "Return to Homepage", listings_path %>
<br>
